:root {
  --main: #00000066;
  --nord-black0: #191d24;
  --nord-black1: #1e222a;
  --nord-black2-75p: #222630af;
  --nord-black2: #222630;
  --nord-blue0: #5e81ac;
  --nord-blue1: #81a1c1;
  --nord-blue2: #88c0d0;
  --nord-cyan-base: #8fbcbb;
  --nord-cyan-bright: #9fc6c5;
  --nord-cyan-dim: #80b3b2;
  --nord-gray-white: #9aa2bc;
  --nord-gray0: #242933;
  --nord-gray1: #2e3440;
  --nord-gray2: #3b4252;
  --nord-gray3: #434c5e;
  --nord-gray4: #4c566a;
  --nord-gray5: #60728a;
  --nord-gray6: #727f9a;
  --nord-green-base: #a3be8c;
  --nord-green-bright: #b1c89d;
  --nord-green-dim: #97b67c;
  --nord-magenta-base: #b48ead;
  --nord-magenta-bright: #be9db8;
  --nord-magenta-dim: #a97ea1;
  --nord-orange-base: #d08770;
  --nord-orange-bright: #d79784;
  --nord-orange-dim: #cb775d;
  --nord-red-base: #bf616a;
  --nord-red-bright: #c5727a;
  --nord-red-dim: #b74e58;
  --nord-white0: #c0c8d8;
  --nord-white1: #d8dee9;
  --nord-white2: #e5e9f0;
  --nord-white3: #eceff4;
  --nord-whiteblue0: #c1d0d1;
  --nord-yellow-base: #ebcb8b;
  --nord-yellow-bright: #efd49f;
  --nord-yellow-dim: #e7c173;
  --overlay0: #6c7086;
  --overlay1: #7f849c;
  --overlay2: #9399b2;
  --subtext0: #a6adc8;
  --subtext1: #c2c2de;
  --surface0: #282936;
  --surface1: #45475a;
  --surface2: #585b70;
  --teal: #94e2d5;
  --text: #cdd6f4;
  --yellow: #f9e2af;
}

* {
  color: var(--nord-cyan-bright);
  font-family: "CaskaydiaCove NFP" !important;
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

QPushButton {
  outline: none !important;
}

.audio-menu,
.brightness-menu,
.calendar,
.komorebi-layout-menu,
.launchpad-container,
.media-menu {
  background-color: var(--main);
  border-radius: 8px;
  border: 3.25px solid var(--nord-cyan-base);
}

.button.shutdown:hover {
  border-color: var(--nord-red-base);
}

.calendar .calendar-table {
  background-color: transparent;
  border-radius: 8px;
}

.calendar .calendar-table::item {
  background-color: var(--nord-gray2);
  border-radius: 8px;
  margin: 2px;
}

.clock-widget,
.yasb-bar .power-menu-widget {
  margin-right: -1px;
}

.cpu-widget {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  margin-left: 0px;
}

.icon {
  font-size: 16px;
}

.glazewm-tiling-direction .btn {
  background-color: transparent;
}

.komorebi-active-layout,
.glazewm-tiling-direction {
  margin-right: -1px;
}

.komorebi-layout-menu {
  background: var(--nord-black2);
}

.komorebi-layout-menu .menu-item {
  margin: 2.5px 5px;
  padding: 2.5px 5px;
}

.komorebi-layout-menu .menu-item-icon {
  color: var(--nord-whiteblue0);
  font-size: 16px;
}

.komorebi-layout-menu .menu-item-text {
  font-size: 12px;
  padding-left: 4px;
}

.komorebi-layout-menu .menu-item:hover {
  background-color: var(--nord-gray3);
  color: #fff;
}

.komorebi-layout-menu .separator {
  max-height: 0;
}

.komorebi-workspaces .ws-btn,
.glazewm-workspaces .ws-btn {
  background: var(--nord-gray2);
  border-radius: 6px;
  color: transparent;
  height: 12px;
  margin: 0 1px;
  min-width: 12px;
  width: 12px;
}

.komorebi-workspaces .ws-btn.active,
.glazewm-workspaces .ws-btn.active_empty,
.glazewm-workspaces .ws-btn.active_populated {
  background: var(--nord-cyan-base);
  width: 40px;
}

.komorebi-workspaces .ws-btn.active:hover,
.glazewm-workspaces .ws-btn.active_empty:hover,
.glazewm-workspaces .ws-btn.active_populated:hover {
  background: var(--nord-whiteblue0);
}

.komorebi-workspaces .ws-btn.populated,
.glazewm-workspaces .ws-btn.populated {
  background: var(--nord-blue0);
}

.komorebi-workspaces .ws-btn.populated:hover,
.glazewm-workspaces .ws-btn.populated:hover {
  background: var(--nord-blue2);
}

.komorebi-workspaces .ws-btn:hover .glazewm-workspaces .ws-btn.empty:hover {
  background: var(--nord-gray4);
}

.launchpad .app-dialog .button {
  background-color: var(--nord-black-2);
  border-radius: 4px;
  border: none;
  color: var(--nord-white3);
  font-size: 12px;
  font-weight: 600;
  margin: 10px 0 5px 6px;
  min-height: 28px;
  min-width: 80px;
  padding: 0 6px;
}

.launchpad .app-dialog .button.add,
.launchpad .app-dialog .button.save {
  background-color: var(--nord-blue0);
}

.launchpad .app-dialog .button.add:hover,
.launchpad .app-dialog .button.save:hover {
  background-color: var(--nord-blue1);
}

.launchpad .app-dialog .button.add:pressed,
.launchpad .app-dialog .button.save:pressed {
  background-color: var(--nord-blue2);
}

.launchpad .app-dialog .button.delete {
  background-color: var(--nord-red-dim);
}

.launchpad .app-dialog .button.delete:hover {
  background-color: var(--nord-red-base);
}

.launchpad .app-dialog .button.delete:pressed {
  background-color: var(--nord-red-bright);
}

.launchpad .app-dialog .button:hover {
  background-color: var(--nord-gray3);
}

.launchpad .app-dialog .button:pressed {
  background-color: var(--nord-gray2);
}

.launchpad .app-dialog .buttons-container {
  background-color: var(--nord-gray0);
  border-top: 1px solid var(--nord-cyan-base);
  margin-top: 16px;
  max-height: 80px;
  min-height: 80px;
  padding: 0 20px 0 20px;
}

.launchpad .app-dialog .buttons-container .button {
  font-size: 13px;
  margin: 10px 0 5px 0px;
}

.launchpad .app-dialog .icon-field,
.launchpad .app-dialog .path-field,
.launchpad .app-dialog .title-field {
  background-color: var(--nord-black-2);
  border-radius: 4px;
  border: 1px solid var(--nord-cyan-base);
  color: var(--nord-white3);
  font-size: 12px;
  font-weight: 600;
  margin: 10px 0px 5px 0;
  min-height: 30px;
  padding: 0 6px;
}

.launchpad .app-dialog .icon-field:focus,
.launchpad .app-dialog .path-field:focus,
.launchpad .app-dialog .title-field:focus {
  border-bottom-color: var(--nord-cyan-base);
}

.launchpad .app-dialog .message {
  color: var(--nord-white3);
  font-size: 12px;
  font-weight: 600;
  padding: 10px 0;
}

.launchpad .app-dialog .warning-message {
  background-color: darkred;
  border-radius: 4px;
  border: 1px solid var(--nord-red-bright);
  color: var(--nord-magenta-base);
  font-size: 12px;
  font-weight: 600;
  margin: 4px 0px;
  padding: 8px 12px;
}

.launchpad .app-icon {
  background-color: transparent;
  border-radius: 12px;
  border: 2px solid transparent;
  margin: 24px 6px 6px 6px;
  max-height: 110px;
  max-width: 110px;
  min-height: 110px;
  min-width: 110px;
  padding-top: 10px;
}

.launchpad .app-icon .title {
  color: var(--nord-whiteblue0);
  font-size: 14px;
  font-weight: 600;
  margin-top: 2px;
}

.launchpad .app-icon:focus {
  background-color: rgba(255, 255, 255, 0.06);
  border: 2px solid var(--nord-cyan-dim);
}

.launchpad .app-icon:hover {
  background-color: rgba(255, 255, 255, 0.13);
  border: 2px solid var(--nord-blue2);
}

.launchpad .context-menu {
  background-color: var(--nord-gray0);
  border-radius: 6px;
  border: none;
  color: var(--nord-white3);
  font-size: 12px;
  font-weight: 600;
  padding: 4px 0px;
}

.launchpad .context-menu::item {
  background-color: transparent;
  border-radius: 4px;
  margin: 2px 6px;
  min-width: 100px;
  padding: 6px 12px;
}

.launchpad .context-menu::item:disabled {
  background-color: transparent;
  color: var(--nord-gray5);
}

.launchpad .context-menu::item:pressed {
  background-color: var(--nord-gray2);
}

.launchpad .context-menu::item:selected {
  background-color: var(--nord-gray2);
  color: #ffffff;
}

.launchpad .context-menu::separator {
  background-color: var(--nord-gray2);
  height: 1px;
  margin: 4px 8px;
}

.launchpad .launchpad-scroll-area {
  background-color: transparent;
  border: none;
}

.launchpad .search-container {
  margin: 0;
  min-height: 0;
  padding: 0;
  height: 0;
}

.launchpad .search-input {
  font-size: 0;
  max-height: 0;
  max-width: 0;
  min-height: 0;
}
.media-area {
  padding: 2px 0 0 12px;
}

.media-menu {
  max-width: 320px;
  min-width: 320px;
}

.media-menu .artist {
  color: #6c7086;
  font-size: 13px;
  margin-bottom: 8px;
  margin-top: 0px;
}

.media-menu .artist,
.media-menu .source,
.media-menu .title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
}

.media-menu .btn {
  border-radius: 20px;
  font-family: "Segoe Fluent Icons";
  font-size: 14px;
  font-weight: 400;
  margin: 10px 2px 0px 2px;
  max-height: 40px;
  max-width: 40px;
  min-height: 40px;
  min-width: 40px;
}

.media-menu .btn.disabled,
.media-menu .btn.disabled:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #4e525c;
}

.media-menu .btn.play {
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 20px;
}

.media-menu .btn.prev {
  margin-left: 10px;
}

.media-menu .btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.media-menu .playback-time {
  color: #7f849c;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  margin-top: 20px;
  min-width: 100px;
}

.media-menu .progress-slider {
  border-radius: 3px;
  height: 10px;
  margin: 5px 4px;
}

.media-menu .progress-slider::groove {
  background: rgba(255, 255, 255, 0.1);
  background: transparent;
  border-radius: 3px;
  height: 2px;
}

.media-menu .progress-slider::groove:hover {
  background: rgba(255, 255, 255, 0.2);
  background: transparent;
  border-radius: 3px;
  height: 6px;
}

.media-menu .progress-slider::sub-page {
  background: white;
  border-radius: 3px;
  height: 4px;
}

.media-menu .source {
  background-color: #bac2de;
  border-radius: 3px;
  color: #000;
  font-size: 11px;
  font-weight: normal;
  padding: 2px 4px;
}

.media-widget {
  border-radius: 0;
}

.media-widget > * {
  padding: 0;
  margin: 0;
}

.media-widget .btn {
  font-family: Segoe Fluent Icons;
  font-weight: 550;
  margin: 0;
  padding: 0 2px;
}

.media-widget .btn.disabled,
.media-widget .btn.disabled:hover {
  background-color: transparent;
  color: var(--nord-gray6);
  font-size: 12px;
}

.media-widget .btn.play {
  font-size: 16px;
}

.media-widget .btn.prev {
  padding: 0 1px 0 0px;
}

.media-widget .btn:hover {
  color: #ffffff;
}

.media-widget .label {
  background-color: rgba(24, 24, 37, 0.375);
  color: #bac2db;
  font-size: 12px;
}

.power-menu-popup {
  background-color: var(--main);
  border-radius: 16px;
}

.power-menu-popup .button {
  border: 2px solid transparent;
}

.power-menu-popup .button {
  background-color: var(--nord-gray0);
  border-radius: 12px;
  height: 200px;
  padding: 0;
  width: 180px;
}

.power-menu-popup .button .icon {
  font-size: 64px;
  padding-top: 32px;
}

.power-menu-popup .button .label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.power-menu-popup .button.cancel {
  border-radius: 12px;
  height: 32px;
  padding: 0;
}

.power-menu-popup .button.cancel .icon,
.power-menu-popup .button.cancel .label {
  color: var(--nord-gray6);
  margin: 0;
  padding: 0;
}

.power-menu-popup .button.cancel:hover {
  border-color: var(--nord-gray6);
}

.power-menu-popup .button.hibernate .icon,
.power-menu-popup .button.hibernate .label {
  color: var(--nord-green-base);
}

.power-menu-popup .button.hibernate:hover {
  border-color: var(--nord-green-base);
}

.power-menu-popup .button.hover {
  background-color: var(--nord-gray1);
}

.power-menu-popup .button.restart .icon,
.power-menu-popup .button.restart .label {
  color: var(--nord-yellow-base);
}

.power-menu-popup .button.restart:hover {
  border-color: var(--nord-yellow-base);
}

.power-menu-popup .button.shutdown .icon,
.power-menu-popup .button.shutdown .label {
  color: var(--nord-red-base);
}

.power-menu-popup .button.signout .icon,
.power-menu-popup .button.signout .label {
  color: var(--nord-magenta-base);
}

.power-menu-popup .button.signout:hover {
  border-color: var(--nord-magenta-base);
}

.power-menu-popup .button.sleep .icon,
.power-menu-popup .button.sleep .label {
  color: var(--nord-cyan-base);
}

.power-menu-popup .button.sleep:hover {
  border-color: var(--nord-cyan-base);
}

.uptime {
  color: var(--nord-cyan-base);
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 72px;
}

.volume-widget {
  padding: 0 6px;
}

.volume-widget .icon {
  margin: 1px 2px 0 0;
}

.widget {
  /* border-left: none; */
  /* border-right: none; */
  /* border-top: 2px solid var(--nord-cyan-base); */
  /* border-bottom: 2px solid var(--nord-cyan-base); */
  padding: 0 8px;
  margin: 0 -2px;
}

.widget .label {
  padding: 0px 2px;
}

/* .yasb-bar .active-window-widget { */
/* .yasb-bar .cpu-widget, */
/* .yasb-bar .notification-widget { */
/* border-bottom-right-radius: 8px; */
/* border-right: 2px solid var(--nord-cyan-base); */
/* border-top-right-radius: 8px; */
/* margin-right: 0; */
/* } */

/* .yasb-bar .clock-widget, */
/* .yasb-bar .komorebi-active-layout, */
/* .yasb-bar .glazewm-tiling-direction, */
/* .yasb-bar .power-menu-widget { */
/* border-bottom-left-radius: 8px; */
/* border-left: 2px solid var(--nord-cyan-base); */
/* border-top-left-radius: 8px; */
/* margin-left: 0; */
/* } */

/* .yasb-bar .widget { */
/* background-color: var(--main); */
/* } */
.yasb-bar {
  background-color: var(--main);
  border: 2px solid var(--nord-cyan-base);
  border-radius: 8px;
  margin: 6px 7px 10px 11px;
}
.task-bar .media-widget {
  background-color: var(--main);
  border: 1px solid var(--nord-cyan-base);
  border-radius: 8px;
  margin: 0px 7px 4px 11px;
}
.task-bar .container-right {
  margin-bottom: 5px;
  margin-top: 1px;
  overflow: hidden;
  margin-right: 6px;
}
.cava-widget {
  background-color: var(--main);
  border-radius: 12px;
  padding: 0
}
