:root {
  --base: #1e1e2e;
  --blue: #89b4fa;
  --crust: rgba(17, 17, 27, 0.85);
  --flamingo: #f2cdcd;
  --green: #a6e3a1;
  --lavender: #b4befe;
  --main: rgba(29, 29, 29, 0.75);
  --mantle: rgba(24, 24, 37, 0.5);
  --maroon: #eba0ac;
  --mauve: #cba6f7;
  --overlay0: #6c7086;
  --overlay1: #7f849c;
  --overlay2: #9399b2;
  --peach: #fab387;
  --pink: #f5c2e7;
  --red: #f38ba8;
  --rosewater: #f5e0dc;
  --sapphire: #74c7ec;
  --sky: #89dceb;
  --subtext0: #a6adc8;
  --subtext1: #c2c2de;
  --surface0: #282936;
  --surface1: #45475a;
  --surface2: #585b70;
  --teal: #94e2d5;
  --text: #cdd6f4;
  --yellow: #f9e2af
}

* {
  color: var(--subtext1);
  font-family: "CaskaydiaCove NFP";
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  padding: 0
}

QToolTip {
  background-color: #1e1e2e;
  border-radius: 6px;
  border: 0px solid #313244;
  color: #cdd6f4;
  font-size: 12px;
  padding: 6px
}

.calendar {
  background-color: rgba(29, 29, 29, 0.5);
  border-radius: 8px
}

.calendar .calendar-table {
  background-color: rgba(51, 51, 51, 0);
  border-radius: 8px
}

.calendar .calendar-table::item {
  background-color: rgba(51, 51, 51, 0.5)
}

.icon {
  font-size: 16px
}

.komorebi-layout-menu {
  background-color: rgba(17, 17, 27, 0.4)
}

.komorebi-layout-menu .menu-item {
  margin: 2.5px 5px;
  padding: 2.5px 5px
}

.komorebi-layout-menu .menu-item-icon {
  color: #cdd6f4;
  font-size: 16px
}

.komorebi-layout-menu .menu-item-text {
  font-size: 12px;
  padding-left: 4px
}

.komorebi-layout-menu .menu-item:hover {
  background-color: rgba(128, 130, 158, 0.15);
  color: #fff
}

.komorebi-layout-menu .separator {
  max-height: 0
}

.media-menu {
  background-color: rgba(29, 29, 29, 0.5);
  border-radius: 8px;
  width: 200px
}

.media-menu .artist {
  color: #6c7086;
  font-size: 13px;
  margin-top: 0px
}

.media-menu .artist,
.media-menu .source,
.media-menu .title {
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px
}

.media-menu .btn {
  border-radius: 20px;
  font-family: "Segoe Fluent Icons";
  font-size: 14px;
  font-weight: 400;
  margin: 10px 2px 0px 2px;
  max-height: 40px;
  max-width: 40px;
  min-height: 40px;
  min-width: 40px
}

.media-menu .btn.disabled,
.media-menu .btn.disabled:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #4e525c
}

.media-menu .btn.play {
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 20px
}

.media-menu .btn.prev {
  margin-left: 10px
}

.media-menu .btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white
}

.media-menu .playback-time {
  color: #7f849c;
  font-size: 13px;
  margin-top: 20px;
  min-width: 100px
}

.media-menu .progress-slider {
  border-radius: 3px;
  height: 10px;
  margin: 5px 4px
}

.media-menu .progress-slider::groove {
  background: rgba(255, 255, 255, 0.1);
  background: transparent;
  border-radius: 3px;
  height: 2px
}

.media-menu .progress-slider::groove:hover {
  background: rgba(255, 255, 255, 0.2);
  background: transparent;
  border-radius: 3px;
  height: 6px
}

.media-menu .progress-slider::sub-page {
  background: white;
  border-radius: 3px;
  height: 4px
}

.media-menu .source {
  background-color: #bac2de;
  border-radius: 3px;
  color: #000;
  font-size: 11px;
  font-weight: normal;
  padding: 2px 4px
}

.media-menu .source.edge {
  background-color: #0078d4;
  color: #ffffff
}

.media-menu .source.firefox {
  background-color: #ff583b;
  color: #ffffff
}

.media-menu .source.spotify {
  background-color: #199143;
  color: #ffffff
}

.media-menu .source.windows-media {
  background-color: #0078d4;
  color: #ffffff
}

.media-widget {
  border-radius: 0;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 0 !important
}

.media-widget .btn {
  color: #cccccc;
  font-family: Segoe Fluent Icons;
  font-weight: 400;
  margin: 0;
  padding: 0 1px
}

.media-widget .btn.disabled,
.media-widget .btn.disabled:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #999999;
  font-size: 12px
}

.media-widget .btn.play {
  font-size: 16px
}

.media-widget .btn.prev {
  padding: 0 1px 0 10px
}

.media-widget .btn:hover {
  color: #ffffff
}

.media-widget .label {
  background-color: rgba(24, 24, 37, 0.375);
  color: #bac2db;
  font-size: 12px;
  padding: 0px;
  padding-right: 10px;
}

.power-menu-popup {
  background-color: rgba(0, 0, 0, 0.5)
}

.power-menu-popup .button {
  background-color: var(--crust);
  border-bottom: 4px solid rgba(58, 59, 83, 0);
  border-left: 4px solid rgba(58, 59, 83, 0);
  border-radius: 8px;
  border-right: 4px solid rgba(58, 59, 83, 0);
  border-top: 4px solid rgba(58, 59, 83, 0);
  color: var(--text);
  height: 230px;
  padding: 0;
  width: 180px
}

.power-menu-popup .button .icon {
  color: var(--surface2);
  font-size: 64px;
  padding-top: 32px
}

.power-menu-popup .button .label {
  color: var(--overlay2);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px
}

.power-menu-popup .button.cancel {
  border-radius: 4px;
  height: 32px
}

.power-menu-popup .button.cancel .icon {
  padding: 0
}

.power-menu-popup .button.cancel .label {
  color: rgba(255, 0, 0, 1)
}

.power-menu-popup .button.hover {
  background-color: var(--base);
  border-bottom: 4px solid var(--base);
  border-left: 4px solid var(--base);
  border-right: 4px solid var(--base);
  border-top: 4px solid var(--base)
}

.task-bar .container-center {
  background-color: rgba(29, 29, 29, 0.75);
  border-radius: 8px;
  padding-left: 6px;
  padding-right: 6px;
}

.uptime {
  color: var(--surface2);
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px
}

.volume-widget {
  padding: 0 6px
}

.volume-widget .icon {
  margin: 1px 2px 0 0
}

.widget {
  padding: 0 8px;
}

.widget .label {
  padding: 0px 2px
}

.yasb-bar {
  border-radius: 0px;
  margin: 0;
  padding: 5px 13px 5px 13px;
}

.yasb-bar .widget {
  background-color: var(--main)
}

.yasb-bar .power-menu-widget {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-right: -1px;
}

.yasb-bar .active-window-widget,
.yasb-bar .clock-widget,
.yasb-bar .notification-widget {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.yasb-bar .clock-widget,
.yasb-bar .komorebi-active-layout {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.komorebi-active-layout {
  margin-right: -1px
}
