:root {
  --main: #2e3440bb;
  --overlay0: #6c7086;
  --overlay1: #7f849c;
  --overlay2: #9399b2;
  --subtext0: #a6adc8;
  --subtext1: #c2c2de;
  --surface0: #282936;
  --surface1: #45475a;
  --surface2: #585b70;
  --teal: #94e2d5;
  --text: #cdd6f4;
  --yellow: #f9e2af;
  --nord-black0: #191d24;
  --nord-black1: #1e222a;
  --nord-black2: #222630;
  --nord-black2-75p: #222630af;
  --nord-gray0: #242933;
  --nord-gray1: #2e3440;
  --nord-gray2: #3b4252;
  --nord-gray3: #434c5e;
  --nord-gray4: #4c566a;
  --nord-gray5: #60728a;
  --nord-gray6: #727f9a;
  --nord-gray-white: #9aa2bc;
  --nord-white0: #c0c8d8;
  --nord-white1: #d8dee9;
  --nord-white2: #e5e9f0;
  --nord-white3: #eceff4;
  --nord-whiteblue0: #c1d0d1;
  --nord-blue0: #5e81ac;
  --nord-blue1: #81a1c1;
  --nord-blue2: #88c0d0;
  --nord-cyan_base: #8fbcbb;
  --nord-cyan_bright: #9fc6c5;
  --nord-cyan_dim: #80b3b2;
  --nord-red_base: #bf616a;
  --nord-red_bright: #c5727a;
  --nord-red_dim: #b74e58;
  --nord-orange_base: #d08770;
  --nord-orange_bright: #d79784;
  --nord-orange_dim: #cb775d;
  --nord-yellow_base: #ebcb8b;
  --nord-yellow_bright: #efd49f;
  --nord-yellow_dim: #e7c173;
  --nord-green_base: #a3be8c;
  --nord-green_bright: #b1c89d;
  --nord-green_dim: #97b67c;
  --nord-magenta_base: #b48ead;
  --nord-magenta_bright: #be9db8;
  --nord-magenta_dim: #a97ea1;
}

* {
  color: var(--nord-gray-white);
  font-family: "CaskaydiaCove NFP";
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.brightness-menu,
.audio-menu {
  background-color: var(--nord-black2);
}

.calendar {
  background-color: var(--main);
  border-radius: 8px;
}

.calendar .calendar-table {
  background-color: transparent;
  border-radius: 8px;
}

.calendar .calendar-table::item {
  background-color: var(--nord-gray0);
}

.cpu-widget {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-left: 0px;
}

.icon {
  font-size: 16px;
}

.komorebi-layout-menu {
  background: var(--nord-black2);
}

.komorebi-layout-menu .menu-item {
  margin: 2.5px 5px;
  padding: 2.5px 5px;
}

.komorebi-layout-menu .menu-item-icon {
  color: var(--nord-whiteblue0);
  font-size: 16px;
}

.komorebi-layout-menu .menu-item-text {
  font-size: 12px;
  padding-left: 4px;
}

.komorebi-layout-menu .menu-item:hover {
  background-color: var(--nord-gray0);
  color: #fff;
}

.komorebi-layout-menu .separator {
  max-height: 0;
}

.media-menu {
  background-color: var(--nord-black2-75p);
  border-radius: 8px;
  width: 200px;
}

.media-menu .artist {
  color: #6c7086;
  font-size: 13px;
  margin-top: 0px;
}

.media-menu .artist,
.media-menu .source,
.media-menu .title {
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
}

.media-menu .btn {
  border-radius: 20px;
  font-family: "Segoe Fluent Icons";
  font-size: 14px;
  font-weight: 400;
  margin: 10px 2px 0px 2px;
  max-height: 40px;
  max-width: 40px;
  min-height: 40px;
  min-width: 40px;
}

.media-menu .btn.disabled,
.media-menu .btn.disabled:hover {
  background-color: transparent;
  color: #4e525c;
}

.media-menu .btn.play {
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 20px;
}

.media-menu .btn.prev {
  margin-left: 10px;
}

.media-menu .btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.media-menu .playback-time {
  color: #7f849c;
  font-size: 13px;
  margin-top: 20px;
  min-width: 100px;
}

.media-menu .progress-slider {
  border-radius: 3px;
  height: 10px;
  margin: 5px 4px;
}

.media-menu .progress-slider::groove {
  background: transparent;
  border-radius: 3px;
  height: 2px;
}

.media-menu .progress-slider::groove:hover {
  background: transparent;
  border-radius: 3px;
  height: 6px;
}

.media-menu .progress-slider::sub-page {
  background: white;
  border-radius: 3px;
  height: 4px;
}

.media-menu .source {
  background-color: #bac2de;
  border-radius: 3px;
  color: #000;
  font-size: 11px;
  font-weight: normal;
  padding: 2px 4px;
}

.media-menu .source.edge {
  background-color: #0078d4;
  color: #ffffff;
}

.media-menu .source.firefox {
  background-color: #ff583b;
  color: #ffffff;
}

.media-menu .source.spotify {
  background-color: #199143;
  color: #ffffff;
}

.media-menu .source.windows-media {
  background-color: #0078d4;
  color: #ffffff;
}

.media-widget {
  border-radius: 0;
  padding: 0 !important;
}

.media-widget .btn {
  color: var(--nord-white0);
  font-family: Segoe Fluent Icons;
  font-weight: 400;
  margin: 0;
  padding: 0 1px;
}

.media-widget .btn.disabled,
.media-widget .btn.disabled:hover {
  background-color: transparent;
  color: var(--nord-gray6);
  font-size: 12px;
}

.media-widget .btn.play {
  font-size: 16px;
}

.media-widget .btn.prev {
  padding: 0 1px 0 10px;
}

.media-widget .btn:hover {
  color: #ffffff;
}

.media-widget .label {
  background-color: rgba(24, 24, 37, 0.375);
  color: #bac2db;
  font-size: 12px;
}

.power-menu-popup {
  background-color: var(--nord-black2-75p);
  border-radius: 16px;
}

.power-menu-popup .button {
  background-color: var(--nord-gray0);
  border-radius: 12px;
  height: 200px;
  padding: 0;
  width: 180px;
}

.power-menu-popup .button .icon {
  color: var(--nord-cyan_bright);
  font-size: 64px;
  padding-top: 32px;
}

.power-menu-popup .button .label {
  color: var(--nord-cyan_base);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.power-menu-popup .button.cancel {
  border-radius: 12px;
  padding: 0;
  height: 32px;
}

.power-menu-popup .button.cancel .icon {
  padding: 0;
}

.power-menu-popup .button.cancel .label {
  padding: 0;
  margin: 0;
}

.power-menu-popup .button.hover {
  background-color: var(--nord-gray1);
}

.media-area {
  padding: 2px 0 0 12px;
}

.media-area .container-left {
  background-color: var(--main);
  border: 2px solid #3e5492;
  border-radius: 8px;
}

.uptime {
  color: var(--nord-cyan_base);
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 72px;
}

.volume-widget {
  padding: 0 6px;
}

.volume-widget .icon {
  margin: 1px 2px 0 0;
}

.widget {
  padding: 0 8px;
}

.widget .label {
  padding: 0px 2px;
}

.yasb-bar {
  border-radius: 0px;
  margin: 0;
  padding: 6px 13px -1px 13px;
}

.yasb-bar .widget {
  background-color: var(--main);
}

.yasb-bar .active-window-widget,
.yasb-bar .notification-widget {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.clock-widget,
.yasb-bar .power-menu-widget {
  margin-right: -1px;
}

.yasb-bar .clock-widget,
.yasb-bar .komorebi-active-layout,
.yasb-bar .power-menu-widget {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.komorebi-active-layout {
  margin-right: -1px;
}

.komorebi-workspaces .ws-btn {
  background: #333;
  border-radius: 6px;
  width: 12px;
  height: 12px;
  min-width: 12px;
  margin: 0 1px;
  color: transparent;
}

.komorebi-workspaces .ws-btn.populated {
  background: #777;
}

.komorebi-workspaces .ws-btn.active {
  background: #bbb;
  width: 36px;
}

.komorebi-workspaces .ws-btn:hover {
  background: #666;
}

.komorebi-workspaces .ws-btn.populated:hover {
  background: #aaa;
}

.komorebi-workspaces .ws-btn.active:hover {
  background: #fff;
}
