#zen-main-app-wrapper {
  --funny-accent-background-colour: color-mix(
    in oklab,
    transparent 50%,
    #2e3440
  );
  --zen-main-browser-background-toolbar: transparent !important;
  --sidebar-border-color: transparent;
  --toolbarbutton-hover-background: color-mix(
    in oklab,
    transparent 50%,
    #2e3440
  ) !important;
  .tab-close-button {
    position: absolute !important;
  }

  #urlbar-results * {
    color: white !important;
  }
  #urlbar[style*="top"] #urlbar-background,
  #downloadsPanel > * {
    background-color: var(--funny-accent-background-colour) !important;
    backdrop-filter: blur(10px) !important;
  }
  #zen-workspaces-button {
    display: none !important;
  }
  #zen-current-workspace-indicator-container
    > .zen-current-workspace-indicator:has(
      > .zen-current-workspace-indicator-icon
    ) {
    opacity: 1 !important;
  }

  .tab-background {
    border-radius: 8px !important;
  }

  .tab-close-button {
    position: absolute !important;
  }

  .tab-content {
    position: relative !important;
  }
  .tabbrowser-tab:not([pinned]):hover .tab-icon-stack {
    margin-left: 0 !important;
  }

  #swipe-nav-icon {
    transform: scaleX(1000%) translateX(-12.7px) scaleY(1000%);
    /*! z-index: 10000; */
    /*! overflow: visible; */
    .swipe-nav-icon-arrow {
      transform: translateX(12.5%) !important;
    }
  }

  #zen-media-controls-toolbar > toolbaritem {
    backdrop-filter: blur(10px) !important;
    --zen-media-control-bg: var(--main-browser-background) !important;
    box-shadow: unset !important;
    border: 1px solid var(--sidebar-border-color);
  }
  #navigator-toolbox#navigator-toolbox#navigator-toolbox {
    transition-duration: 0.125s !important;
    margin-top: 6.125em !important;
    height: calc(100% - 6em - 0.7em) !important;
    margin-left: calc(5px + 0.125em);
    background: transparent !important;
    border: unset !important;
    > #titlebar {
      backdrop-filter: blur(10px);
      background: var(--funny-accent-background-colour) !important;
      &::before {
        background: none !important;
      }
    }
  }
}
