:root {
  --funny-accent-background-colour: #2e34407f;
  --zen-main-browser-background-toolbar: transparent !important;
  --zen-primary-color: #2e3440aa !important;
  --sidebar-border-color: transparent;
  --toolbarbutton-hover-background: color-mix(
    in oklab,
    transparent 12.5%,
    #4c566a
  ) !important;
  --dark-border-size: 2px;
  --dark-border-color: #2e3440;
  --dark-border: var(--dark-border-size) solid var(--dark-border-color);
  --bright-border-size: var(--dark-border-size);
  --bright-border-color: #88c0d0;
  --bright-border: var(--bright-border-size) solid var(--bright-border-color);
  --alternate-bright-border-color: #848ead;
  --alternate-bright-border: var(--bright-border-size) solid var(--alternate-bright-border-color);
  --white: #eceff4;
}

#browser {
  --multiplier: 1;
  --n-zen-sidebar-width: 190px;
  --gap: var(--zen-element-separation);
  &:has(> #navigator-toolbox[zen-right-side="true"]) {
    --multiplier: -1;
  }
}

/* navigator toolbox */
#navigator-toolbox#navigator-toolbox#navigator-toolbox {
  transition-duration: 0.2s !important;
  transition-timing-function: ease-in-out !important;
  height: calc(100% - 80.5px) !important;
  margin-left: 5px;
  margin-bottom: 5px;
  background: transparent !important;
  border: none !important;
  > #titlebar {
    border: none !important;
    width: var(--n-zen-sidebar-width) !important;
    &::before,
    &::after,
    & > * {
      backdrop-filter: none !important;
      outline: none !important;
    }
    & > .zen-toolbar-background {
      display: block;
      background: #4c566a44 !important;
      border-radius: var(--zen-native-inner-radius) !important;
      padding: 0 !important;
      border: var(--dark-border);
      box-shadow: none !important;
      &::before,
      &::after {
        display: none;
      }
    }
  }
  &:not(:has(> #zen-sidebar-top-buttons)) {
    &:is(
      [zen-has-implicit-hover],
      [zen-has-hover],
      [zen-user-show],
      [has-popup-menu="true"]
    ) ~ #zen-appcontent-wrapper
      > #zen-tabbox-wrapper {
        transform: translateX(calc((var(--n-zen-sidebar-width) + var(--gap)) * var(--multiplier))) !important;
    }
    &[flash-popup="true"]:not(:is(
      [zen-has-implicit-hover],
      [zen-has-hover],
      [zen-user-show],
      [has-popup-menu="true"])
    ) > #titlebar > .zen-toolbar-background {
      background: #2e3440 !important;
    }
  }
}

/* url bar zoom animation */
#browser {
  transition: filter 0.125s ease-in-out, transform 0.25s cubic-bezier(0.25, 0.25, 0, 1.0675);
}
#browser:has(#urlbar[open][zen-floating-urlbar="true"]) {
  filter: blur(5px) brightness(70%) !important;
  transform: scale(1.1)
}

.browserStack browser {
  transition: scale 0.2s ease, transform 0.2s ease
}

.browserStack:has(
    #historySwipeAnimationPreviousArrow:not([style="translate: none;"])
  )
  browser {
  scale: 0.95 !important;
  transform: translateX(3%) !important;
  border-radius: 1em !important;
}

.browserStack:has(
    #historySwipeAnimationNextArrow:not([style="translate: none;"])
  )
  browser {
  scale: 0.95 !important;
  transform: translateX(-3%) !important;
  border-radius: 1em !important;
}

/* Minimal Exit Menu Patched */
.titlebar-buttonbox {
  margin-right: 20px;
  .titlebar-button {
    padding: 0px !important;
    min-height: 13px !important;
    min-width: 13px !important;
    align-self: center;
    margin-left: 5px !important;
    border-radius: 50px;
    transition: all 100ms;
    &.titlebar-min {
      background-color: hsl(130, 50%, 40%) !important;
    }
    &.titlebar-max,
    &.titlebar-restore {
      background-color: hsl(60, 50%, 50%) !important;
    }
    &.titlebar-close {
      background-color: hsl(0, 50%, 50%) !important;
    }
    > image {
      visibility: collapse !important;
    }
    &:hover {
      min-height: 20px !important;
    }
    &::before {
      display: none !important;
    }
  }
}
@keyframes background_tab {
  0%, 100% { transform: scale(1) translateX(0%) }
  45%, 55% { transform: scale(0.95) translate(2.5%) }
}
@keyframes clipboard_added {
  0%, 100% { transform: scale(1) translateY(0%) }
  45%, 55% { transform: scale(0.95) translateY(2.5%) }
}

@keyframes move_toolbox_right {
  0%, 100% { left: 0px !important }
  45%, 55% { left: 100px !important }
}

/* loading outer progress bar */
@keyframes zen-progress-bar-pulse {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes zen-progress-bar-gone {
  0% { border: 5px solid rgb(from var(--alternate-bright-border-color) r g b / 80%) }
  100% { border: 0px solid transparent }
}

#zen-loading-progress-bar {
  display: none !important
}

.browserSidebarContainer::after {
  content: "";
  inset: 0 !important;
  transform: unset !important;
  position: absolute;
  cursor: none;
  pointer-events: none;
  overflow: hidden !important;
  border-radius: var(--zen-native-inner-radius) !important;
  transition: border 0.25s linear;
}

.browserSidebarContainer:not(:has(> #zen-loading-progress-bar))::after {
  animation: zen-progress-bar-gone 0.5s linear forwards;
}

.browserSidebarContainer:has(> #zen-loading-progress-bar)::after {
  border: var(--alternate-bright-border) !important;
  border-width: 5px !important;
  animation: 0.875s infinite alternate zen-progress-bar-pulse;
}

.browserSidebarContainer[is-zen-split="true"] {
  .deck-selected {
    outline: none !important;
  }
  & > .browserContainer {
    transition: border 0.25s linear !important;
    border: var(--dark-border) !important;
  }
  &.deck-selected:not(:has(> #zen-loading-progress-bar)) > .browserContainer {
    border: var(--bright-border) !important;
  }
}

.browserSidebarContainer.deck-selected[is-zen-split="true"] {
  outline: none !important;
}

.browserSidebarContainer .zen-view-splitter-header {
  transition: background 0.25s linear;
  > * {
    transition: color 0.25s linear;
  }
}

.browserSidebarContainer:not(.deck-selected) .zen-view-splitter-header {
  background: var(--dark-border-color) !important;
  > * {
    color: contrast-color(var(--dark-border-color)) !important;
  }
}
.browserSidebarContainer.deck-selected .zen-view-splitter-header {
  background: var(--bright-border-color) !important;
  > * {
    color: contrast-color(var(--bright-border-color)) !important;
  }
}
.browserSidebarContainer:has(> #zen-loading-progress-bar) .zen-view-splitter-header {
  background: var(--alternate-bright-border-color) !important;
  > * {
    color: contrast-color(var(--alternate-bright-border-color)) !important;
  }
}

[animating-background="true"] #zen-tabbox-wrapper {
  filter: blur(10px)
}

#zen-tabbox-wrapper > #tabbrowser-tabbox > #sidebar-box[sidebar-panel-open] {
  border: var(--dark-border) !important;
  width: var(--n-zen-sidebar-width) !important;
  min-width: unset !important;
  position: absolute !important;
  bottom: 0;
  top: 0;
  & ~ #tabbrowser-tabpanels {
    transform: translateX(208px)
  }
}

#zen-main-app-wrapper {
  .tab-close-button {
    position: absolute !important;
  }
  .urlbar-background {
    background: var(--funny-accent-background-colour) !important;
  }
  #urlbar-results * {
    color: white !important;
  }
  #downloadsPanel {
    --panel-background: var(--funny-accent-background-colour) !important;
    background-color: var(--funny-accent-background-colour) !important;
    backdrop-filter: blur(10px) !important;
  }
  #zen-workspaces-button {
    display: none !important;
  }
  #zen-current-workspace-indicator-container
    > .zen-current-workspace-indicator:has(
      > .zen-current-workspace-indicator-icon
    ) {
    opacity: 1 !important;
  }

  .tab-background {
    border-radius: 8px !important;
  }

  .tab-close-button {
    position: absolute !important;
  }

  .tab-content {
    position: relative !important;
  }
  .tabbrowser-tab:not([pinned]):hover .tab-icon-stack {
    margin-left: 0 !important;
  }
  #tabbrowser-tabbox:has(
      > #zen-toast-container > hbox > :is(
          button#zen-open-background-tab-button
      )
    )
    > #tabbrowser-tabpanels {
    animation: background_tab 0.25s ease;
  }

  #tabbrowser-tabbox:has(
      > #zen-toast-container > hbox :is(
        > button#zen-copy-current-url-button,
        vbox > label[data-l10n-id="zen-copy-current-url-confirmation"]
      )
    )
    > #tabbrowser-tabpanels {
    animation: clipboard_added 0.25s ease;
  }

  #tabbrowser-tabbox #tabbrowser-tabpanels .browserSidebarContainer browser {
    background: transparent !important;
    border-radius: var(--zen-native-inner-radius);
  }

  #tabbrowser-tabbox #tabbrowser-tabpanels .browserContainer {
    border: var(--dark-border);
    border-radius: var(--zen-native-inner-radius);
  }

  .zen-toast {
    background: #2e3440 !important;
    border: none !important;
    backdrop-filter: blur(5px);
    transition-duration: 0s !important;
    animation-duration: 0s !important;
    transform: none !important;
    opacity: 1 !important;
    &:hover {
      background: #2e3440 !important;
      transition-duration: 0s !important;
      border: none !important;
    }
    button {
      background: #2e3440ff !important;
      border: none !important;
      box-shadow: 0px 0px 5px black !important;
      &:hover {
        box-shadow: inset 0px 0px 5px black !important;
      }
    }
  }

  #swipe-nav-icon {
    transform: scaleX(1000%) translateX(-12.7px) scaleY(1000%);
    .swipe-nav-icon-arrow {
      transform: translateX(12.5%) !important;
    }
  }
  #zen-media-controls-toolbar > toolbaritem {
    backdrop-filter: blur(10px) !important;
    --zen-media-control-bg: var(--main-browser-background) !important;
    box-shadow: unset !important;
    border: 1px solid var(--toolbarbutton-hover-background);
    #zen-media-info-vbox {
      overflow-x: hidden !important;
    }
  }
  [overflow] {
    animation-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96) !important;
  }
  findbar {
    background: var(--funny-accent-background-colour) !important;
  }
  .zen-toast label {
    color: white;
  }
  #tabbrowser-arrowscrollbox-periphery:hover .toolbarbutton-text:before {
    content: "What now?";
  }
  #tabbrowser-arrowscrollbox-periphery:hover .toolbarbutton-icon {
    rotate: 135deg;
  }
  #tabbrowser-arrowscrollbox-periphery .toolbarbutton-icon {
    transition: rotate 0.125s ease-out;
  }
  #navigator-toolbox ~ #zen-appcontent-wrapper #zen-tabbox-wrapper {
    transition:
      filter 0.25s ease,
      margin 0.2s ease-in-out,
      transform 0.2s ease-in-out;
  }
  #zenCreateNewPopup {
    background: transparent !important;
  }
}
