#zen-main-app-wrapper {
  --funny-accent-background-colour: #2e34407f;
  --zen-main-browser-background-toolbar: transparent !important;
  --sidebar-border-color: transparent;
  --border-border: 1.75px solid #88c0d0;
  --toolbarbutton-hover-background: color-mix(
    in oklab,
    transparent 12.5%,
    #4c566a
  ) !important;
  .tab-close-button {
    position: absolute !important;
  }
  .urlbar-background {
    background: var(--funny-accent-background-colour) !important;
  }
  #urlbar-results * {
    color: white !important;
  }
  #downloadsPanel {
    --panel-background: var(--funny-accent-background-colour) !important;
    background-color: var(--funny-accent-background-colour) !important;
    backdrop-filter: blur(10px) !important;
  }
  #zen-workspaces-button {
    display: none !important;
  }
  #zen-current-workspace-indicator-container
    > .zen-current-workspace-indicator:has(
      > .zen-current-workspace-indicator-icon
    ) {
    opacity: 1 !important;
  }

  .tab-background {
    border-radius: 8px !important;
  }

  .tab-close-button {
    position: absolute !important;
  }

  .tab-content {
    position: relative !important;
  }
  .tabbrowser-tab:not([pinned]):hover .tab-icon-stack {
    margin-left: 0 !important;
  }
  #tabbrowser-tabbox:has(
      > #zen-toast-container > hbox > button#zen-open-background-tab-button
    )
    > #tabbrowser-tabpanels {
    animation: background_tab 0.25s ease;
  }

  #tabbrowser-tabbox:has(
      > #zen-toast-container > hbox > button#zen-copy-current-url-button
    )
    > #tabbrowser-tabpanels {
    animation: clipboard_added 0.25s ease;
  }

  .zen-toast {
    background: #2e3440 !important;
    border: none !important;
    backdrop-filter: blur(5px);
    transition-duration: 0s !important;
    animation-duration: 0s !important;
    transform: none !important;
    opacity: 1 !important;
    &:hover {
      background: #2e3440 !important;
      transition-duration: 0s !important;
      border: none !important
    }
    button {
      background: #2e3440ff !important;
      border: none !important;
      box-shadow: 0px 0px 5px black !important;
      &:hover {
        box-shadow: inset 0px 0px 5px black !important;
      }
    }
  }

  #swipe-nav-icon {
    transform: scaleX(1000%) translateX(-12.7px) scaleY(1000%);
    .swipe-nav-icon-arrow {
      transform: translateX(12.5%) !important;
    }
  }
  #zen-media-controls-toolbar > toolbaritem {
    backdrop-filter: blur(10px) !important;
    --zen-media-control-bg: var(--main-browser-background) !important;
    box-shadow: unset !important;
    border: 1px solid var(--toolbarbutton-hover-background);
    #zen-media-info-vbox {
      overflow-x: hidden !important;
    }
  }
  #navigator-toolbox#navigator-toolbox#navigator-toolbox {
    transition-duration: 0s !important;
    height: calc(100% - 80.5px) !important;
    margin-left: 5px;
    margin-bottom: 5px;
    background: transparent !important;
    border: none !important;
    > #titlebar {
      backdrop-filter: blur(10px) !important;
      border: none !important;
      &::before,
      &::after,
      & > * {
        background: none !important;
        backdrop-filter: unset !important;
        outline: none !important;
      }
      & > .zen-toolbar-background {
        background: var(--funny-accent-background-colour) !important;
        border-radius: 4px 0 0 4px;
      }
    }
  }
  [overflow] {
    animation-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96) !important;
  }
  findbar {
    background: var(--funny-accent-background-colour) !important;
  }
  .zen-toast label {
    color: white;
  }
  #tabbrowser-arrowscrollbox-periphery:hover .toolbarbutton-text:before {
    content: "What now?"
  }
  #tabbrowser-arrowscrollbox-periphery:hover .toolbarbutton-icon {
    rotate: 135deg;
  }
  #tabbrowser-arrowscrollbox-periphery .toolbarbutton-icon {
    transition: rotate 0.125s ease-out
  }
  #navigator-toolbox ~ #zen-appcontent-wrapper #zen-tabbox-wrapper {
    transition: filter 0.25s ease
  }
  #zenCreateNewPopup {
    background: transparent !important;
  }
}

/* url bar zoom animation */
#browser:has(#urlbar[open][zen-floating-urlbar="true"]) {
  filter: blur(5px) brightness(70%) !important;
}

.browserStack:has(
    #historySwipeAnimationPreviousArrow:not([style="translate: none;"])
  )
  browser {
  scale: 0.95 !important;
  transform: translateX(3%) !important;
  border-radius: 1em !important;
}

.browserStack:has(
    #historySwipeAnimationNextArrow:not([style="translate: none;"])
  )
  browser {
  scale: 0.95 !important;
  transform: translateX(-3%) !important;
  border-radius: 1em !important;
}

/* Minimal Exit Menu Patched */
.titlebar-buttonbox {
  margin-right: 20px;
  .titlebar-button {
    padding: 0px !important;
    min-height: 13px !important;
    min-width: 13px !important;
    align-self: center;
    margin-left: 5px !important;
    border-radius: 50px;
    transition: all 100ms;
    &.titlebar-min {
      background-color: hsl(130, 50%, 40%) !important;
    }
    &.titlebar-max,
    &.titlebar-restore {
      background-color: hsl(60, 50%, 50%) !important;
    }
    &.titlebar-close {
      background-color: hsl(0, 50%, 50%) !important;
    }
    > image {
      visibility: collapse !important;
    }
    &:hover {
      min-height: 20px !important;
    }
    &::before {
      display: none !important;
    }
  }
}
@keyframes background_tab {
  0%,
  100% {
    transform: scale(1) translateX(0%);
  }
  45%,
  55% {
    transform: scale(0.95) translate(2.5%);
  }
}
@keyframes clipboard_added {
  0%,
  100% {
    transform: scale(1) translateY(0%);
  }
  45%,
  55% {
    transform: scale(0.95) translateY(2.5%);
  }
}
