general:
  startup_commands: []
  shutdown_commands: []
  config_reload_commands: []
  focus_follows_cursor: true
  toggle_workspace_on_refocus: false

  cursor_jump:
    enabled: true
    trigger: "window_focus"

  hide_method: "cloak"
  show_all_in_taskbar: false

gaps:
  scale_with_dpi: true
  inner_gap: "10px"
  outer_gap:
    top: "0px"
    right: "8px"
    bottom: "8px"
    left: "12px"

window_effects:
  # Visual effects to apply to the focused window.
  focused_window:
    border:
      enabled: false
      color: "#88c0d0"
    hide_title_bar:
      enabled: false
    corner_style:
      enabled: false
      style: "rounded"
    transparency:
      enabled: false
      opacity: 0.95

  # Visual effects to apply to non-focused windows.
  other_windows:
    border:
      enabled: false
      color: "#2e3440"
    hide_title_bar:
      enabled: false
    corner_style:
      enabled: false
      style: "rounded"
    transparency:
      enabled: false
      opacity: 0.95

window_behavior:
  initial_state: "tiling"
  state_defaults:
    floating:
      centered: true
      shown_on_top: true

    fullscreen:
      maximized: true
      shown_on_top: false

workspaces:
  - name: "1"
  - name: "2"
  - name: "3"
  - name: "4"
  - name: "5"

window_rules:
  - commands: ["toggle-floating"]
    match:
      - window_process: { equals: "SnippingTool" }

      - window_title: { equals: "Vencord QuickCSS Editor" }
      - window_title: { equals: "Colors" }

  - commands: ["ignore"]
    match:
      - window_process: { equals: "zebar" }
      - window_process: { equals: "overkeys" }
      - window_process: { equals: "keyviz" }

      - window_title: { regex: "[Pp]icture.in.[Pp]icture" }
        window_class: { regex: "Chrome_WidgetWin_1|MozillaDialogClass" }
      - window_title: { equals: "Environment Variables" }
        window_process: { equals: "SystemPropertiesAdvanced" }

      - window_process: { equals: "PowerToys" }
        window_class: { regex: 'HwndWrapper\[PowerToys\.PowerAccent.*?\]' }
      - window_process: { equals: "PowerToys" }
        window_title: { regex: ".*? - Peek" }
      - window_process: { equals: "Lively" }
        window_class: { regex: "HwndWrapper" }
      - window_process: { equals: "EXCEL" }
        window_class: { not_regex: "XLMAIN" }
      - window_process: { equals: "WINWORD" }
        window_class: { not_regex: "OpusApp" }
      - window_process: { equals: "POWERPNT" }
        window_class: { not_regex: "PPTFrameClass" }

  - commands: ["move --workspace 5", "focus --workspace 5"]
    match:
      - window_process: { equals: "Discord" }

  - commands: ["move --workspace 4", "focus --workspace 4"]
    match:
      - window_process: { equals: "Beeper" }

  - commands: ["move --workspace 3", "focus --workspace 3"]
    match:
      - window_process: { equals: "ONENOTE" }

binding_modes:

keybindings:
  - commands: ["focus --direction left"]
    bindings: ["lwin+left", "ralt+left"]
  - commands: ["focus --direction right"]
    bindings: ["lwin+right", "ralt+right"]
  - commands: ["focus --direction up"]
    bindings: ["lwin+up", "ralt+up"]
  - commands: ["focus --direction down"]
    bindings: ["lwin+down", "ralt+down"]

  - commands: ["move --direction left", "wm-redraw"]
    bindings: ["lwin+shift+left", "ralt+shift+left"]
  - commands: ["move --direction right", "wm-redraw"]
    bindings: ["lwin+shift+right", "ralt+shift+right"]
  - commands: ["move --direction up", "wm-redraw"]
    bindings: ["lwin+shift+up", "ralt+shift+up"]
  - commands: ["move --direction down", "wm-redraw"]
    bindings: ["lwin+shift+down", "ralt+shift+down"]

  - commands: ["resize --width -5%", "wm-redraw"]
    bindings: ["lwin+oem_minus", "ralt+oem_minus"]
  - commands: ["resize --width +5%", "wm-redraw"]
    bindings: ["lwin+oem_plus", "ralt+oem_plus"]
  - commands: ["resize --height -5%", "wm-redraw"]
    bindings: ["lwin+shift+oem_minus", "ralt+shift+oem_minus"]
  - commands: ["resize --height +5%", "wm-redraw"]
    bindings: ["lwin+shift+oem_plus", "ralt+shift+oem_plus"]

  # Disables window management and all other keybindings until lwin+shift+, ralt# is pressed again.
  # - commands: ['wm-toggle-pause']
  #   bindings: ['lwin+shift+p', 'ralt+shift+p']
  - commands: ["toggle-tiling-direction"]
    bindings: ["lwin+shift+v", "ralt+v"]
  - commands: ["wm-cycle-focus", "wm-redraw"]
    bindings: ["lwin+oem_close_brackets", "lwin+oem_open_brackets", "ralt+oem_close_brackets", "lwin+oem_open_brackets"]

  - commands: ["toggle-floating", "wm-redraw"]
    bindings: ["lwin+t", "ralt+t"]
  - commands: ["toggle-fullscreen", "wm-redraw"]
    bindings: ["lwin+f", "ralt+f"]
  - commands: ["toggle-minimized", "wm-redraw"]
    bindings: ["lwin+m", "ralt+m"]

  - commands: ["close", "wm-redraw"]
    bindings: ["lwin+w", "ralt+w"]

  - commands: ["set-tiling", "wm-redraw"]
    bindings: ["lwin+shift+r", "ralt+shift+r"]

  - commands: ["focus --next-workspace", "wm-redraw"]
    bindings: ["lwin+oem_period", "ralt+oem_period"]
  - commands: ["focus --prev-workspace", "wm-redraw"]
    bindings: ["lwin+oem_comma", "ralt+oem_comma"]
  - commands: ["move --next-workspace", "focus --next-workspace", "wm-redraw"]
    bindings: ["lwin+shift+oem_period", "ralt+shift+oem_period"]
  - commands: ["move --prev-workspace", "focus --prev-workspace", "wm-redraw"]
    bindings: ["lwin+shift+oem_comma", "ralt+shift+oem_comma"]

  - commands: ["focus --recent-workspace"]
    bindings: ["lwin+d", "ralt+d"]
  - commands: ["focus --workspace 1", "wm-redraw"]
    bindings: ["lwin+1", "ralt+1"]
  - commands: ["focus --workspace 2", "wm-redraw"]
    bindings: ["lwin+2", "ralt+2"]
  - commands: ["focus --workspace 3", "wm-redraw"]
    bindings: ["lwin+3", "ralt+3"]
  - commands: ["focus --workspace 4", "wm-redraw"]
    bindings: ["lwin+4", "ralt+4"]
  - commands: ["focus --workspace 5", "wm-redraw"]
    bindings: ["lwin+5", "ralt+5"]

  - commands: ["move --workspace 1", "focus --workspace 1", "wm-redraw"]
    bindings: ["lwin+shift+1", "ralt+shift+1"]
  - commands: ["move --workspace 2", "focus --workspace 2", "wm-redraw"]
    bindings: ["lwin+shift+2", "ralt+shift+2"]
  - commands: ["move --workspace 3", "focus --workspace 3", "wm-redraw"]
    bindings: ["lwin+shift+3", "ralt+shift+3"]
  - commands: ["move --workspace 4", "focus --workspace 4", "wm-redraw"]
    bindings: ["lwin+shift+4", "ralt+shift+4"]
  - commands: ["move --workspace 5", "focus --workspace 5", "wm-redraw"]
    bindings: ["lwin+shift+5", "ralt+shift+5"]

  - commands: ["shell-exec flow"]
    bindings: ["lwin+space"]
  - commands: ["shell-exec --hide-window yasbc_dev toggle-widget launchpad --follow-mouse"]
    bindings: ["lwin+s"]
  - commands: ["shell-exec --hide-window yasbc_dev toggle-widget powermenu --follow-mouse"]
    bindings: ["lwin+shift+l"]
