theme = "nordic"

[keys.normal]
ins = "insert_mode"
C-s = ":w"
C-S-s = ":wa"
C-A-q = "wonly"
C-z = "undo"
C-y = "redo"
C-f = [":new", ":insert-output wezterm cli split-pane --left --cells 26 --cwd %{current_working_directory} rovr --config-folder ~/.config/rovr/helix", ":buffer-close!"]
tab = "rotate_view"
S-tab = "rotate_view_reverse"
"{" = ":buffer-previous"
"}" = ":buffer-next"
C-c = ":clipboard-yank"
S-v = { "j" = ":clipboard-paste-before", "k" = ":clipboard-paste-replace", "l" = ":clipboard-paste-after" }
esc = ["collapse_selection", "keep_primary_selection"]
i = "move_visual_line_up"
j = "move_char_left"
k = "move_visual_line_down"
l = "move_char_right"
"=" = "increment"
"-" = "decrement"
"_" = "switch_to_lowercase"
"+" = "switch_to_uppercase"
w = "@<C-w>"  # easier to press 'w' than press 'C-w'
A-I = "append_mode"
A-i = "insert_mode"
I = "extend_line_up"
J = "extend_char_left"
K = "extend_line_down"
L = "extend_char_right"
U = "move_prev_word_end"
O = "move_next_word_start"
u = "move_prev_word_start"
o = "move_next_word_end"
C-a = "select_all"
A-j = { j = "save_selection", i = "jump_backward", k = "jump_forward", p = "jumplist_picker" }
A-c = "toggle_line_comments"
A-C = "toggle_block_comments"
"`" = "switch_case"
C-r = [":lsp-restart", ":reload-all"]
"/" = "search"
X = "extend_line_above"
Y = ":primary-clipboard-yank"
"," = "repeat_last_motion"
A-k = "keep_selections"
"A-." = "no_op"
"%" = "no_op"
W = "no_op"
a = "no_op"
A = "no_op"
e = "no_op"
E = "no_op"
"?" = "no_op"
h = "no_op"
b = "no_op"
B = "no_op"
C-d = "no_op"
C-u = "no_op"
"&" = "no_op"
S-A-j = "no_op"
"A-`" = "no_op"
"A-*" = "no_op"
"*" = "no_op"
A-o = "no_op"
A-up = "no_op"
C-i = "no_op"
C-o = "no_op"

[keys.normal."["]
# "[" = "goto_previous_buffer"
# j = "move_buffer_left"

[keys.normal."]"]
# "]" = "goto_next_buffer"
# l = "move_buffer_right"

[keys.select."["]
# "[" = "goto_previous_buffer"
# j = "move_buffer_left"

[keys.select."]"]
# "]" = "goto_next_buffer"
# l = "move_buffer_right"

# goto mode (why is there two versions)
[keys.normal.g]
i = ":page-up-smooth"
j = "goto_first_nonwhitespace"
J = "goto_line_start"
k = ":page-down-smooth"
K = "goto_last_line"
L = "goto_line_end_newline"
l = "goto_line_end"
ret = "goto_file_start"
D = "goto_reference"
d = "goto_definition"
W = ":flash"
e = "no_op"
f = "no_op"
r = "no_op"
t = "no_op"
c = "no_op"
b = "no_op"
a = "no_op"
m = "no_op"
n = "no_op"
p = "no_op"
"." = "no_op"
s = "no_op"
h = "no_op"
g = "no_op"

[keys.select.g]
i = "page_cursor_up"
j = "extend_to_first_nonwhitespace"
J = "extend_to_line_start"
k = "page_cursor_down"
K = "extend_to_last_line"
L = "extend_to_line_end_newline"
l = "extend_to_line_end"
ret = "extend_to_file_start"
D = "goto_reference"
W = ":flash-extend"
e = "no_op"
f = "no_op"
r = "no_op"
t = "no_op"
c = "no_op"
b = "no_op"
a = "no_op"
m = "no_op"
n = "no_op"
p = "no_op"
"." = "no_op"
s = "no_op"
h = "no_op"
g = "no_op"

# window mode (why is there two different modes bruh)
[keys.normal."C-w"]
r = "rotate_view"
i = "jump_view_up"
j = "jump_view_left"
k = "jump_view_down"
l = "jump_view_right"
I = ["hsplit", "jump_view_up"]
J = ["vsplit", "jump_view_right"]
K = "hsplit"
L = "vsplit"
w = ":bc"
W = ":bc!"
b = { w = ":bco", W = ":bco!" }
Q = "wonly"
s = ":write"
S = ":write-all"
o = "no_op"
C-t = "no_op"
f = "no_op"
F = "no_op"
C-q = "no_op"
C-o = "no_op"
h = "no_op"
C-h = "no_op"
C-j = "no_op"
C-l = "no_op"
C-k = "no_op"
v = "no_op"
C-v = "no_op"
C-s = "no_op"
C-w = "no_op"
H = "no_op"
left = "no_op"
right = "no_op"
up = "no_op"
down = "no_op"

[keys.select."C-w"]
r = "rotate_view"
i = "jump_view_up"
j = "jump_view_left"
k = "jump_view_down"
l = "jump_view_right"
I = ["hsplit", "jump_view_up"]
J = ["vsplit", "jump_view_right"]
K = "hsplit"
L = "vsplit"
w = ":bc"
W = ":bc!"
b = { w = ":bco", W = ":bco!" }
Q = "wonly"
s = ":write"
S = ":write-all"
o = "no_op"
C-t = "no_op"
f = "no_op"
F = "no_op"
C-q = "no_op"
C-o = "no_op"
h = "no_op"
C-h = "no_op"
C-j = "no_op"
C-l = "no_op"
C-k = "no_op"
v = "no_op"
C-v = "no_op"
C-s = "no_op"
C-w = "no_op"
H = "no_op"
left = "no_op"
right = "no_op"
up = "no_op"
down = "no_op"

# have some issues with getting copilot to work, so temporary
# workaround is to pass to pwsh and run the copilot cli, which works fine, but is a bit janky ngl
[keys.normal."C-w".a]
c = [":new", ":insert-output wezterm cli spawn --cwd %{current_working_directory} pwsh -NoProfile -Command copilot", ":buffer-close!"]
i = [":new", ":insert-output wezterm cli spawn --cwd %{current_working_directory} opencode", ":buffer-close!"]
v = [":new", ":insert-output wezterm cli spawn --cwd %{current_working_directory} vibe", ":buffer-close!"]

[keys.select."C-w".a]
c = [":new", ":insert-output wezterm cli spawn --cwd %{current_working_directory} pwsh -NoProfile -Command copilot", ":buffer-close!"]
i = [":new", ":insert-output wezterm cli spawn --cwd %{current_working_directory} opencode", ":buffer-close!"]
v = [":new", ":insert-output wezterm cli spawn --cwd %{current_working_directory} vibe", ":buffer-close!"]

# new buffer or terminal tab
[keys.normal."C-w".n]
s = "no_op"
C-s = "no_op"
v = "no_op"
C-v = "no_op"
t = [":new", ":insert-output wezterm cli spawn", ":buffer-close!"]
i = ["hsplit_new", "swap_view_up"]
j = ["vsplit_new", "swap_view_left"]
k = "hsplit_new"
l = "vsplit_new"
n = ":new"

[keys.select."C-w".n]
s = "no_op"
C-s = "no_op"
v = "no_op"
C-v = "no_op"
t = [":new", ":insert-output wezterm cli spawn", ":buffer-close!"]
i = ["hsplit_new", "swap_view_up"]
j = ["vsplit_new", "swap_view_left"]
k = "hsplit_new"
l = "vsplit_new"
n = ":new"

# move panes
[keys.normal."C-w".m]
i = "swap_view_up"
j = "swap_view_left"
k = "swap_view_down"
l = "swap_view_right"

[keys.select."C-w".m]
i = "swap_view_up"
j = "swap_view_left"
k = "swap_view_down"
l = "swap_view_right"

# new pane relative to buffer
[keys.normal."C-w"."]"]
i = ["hsplit", ":buffer-next", "swap_view_up"]
j = ["vsplit", ":buffer-next", "swap_view_left"]
k = ["hsplit", ":buffer-next"]
l = ["vsplit", ":buffer-next"]

[keys.normal."C-w"."["]
i = ["hsplit", ":buffer-previous", "swap_view_up"]
j = ["vsplit", ":buffer-previous", "swap_view_left"]
k = ["hsplit", ":buffer-previous"]
l = ["vsplit", ":buffer-previous"]

# space mode, my favourite
[keys.normal."space"]
c = "changed_file_picker"
r = ":config-reload"
o = ":streal-open"
f = "file_explorer_in_current_directory"
e = "file_picker_in_current_directory"
b = "file_explorer_in_current_buffer_directory"
B = "buffer_picker"
g = "global_search"
t = ":toggle-option soft-wrap.enable"
S = [
  "split_selection_on_newline",
  "extend_to_line_bounds",
  ":sort",
  "keep_primary_selection",
]
F = ":fmt"
w = "no_op"
A-c = "no_op"
E = "no_op"
C = "no_op"
y = "no_op"
Y = "no_op"
p = "no_op"
P = "no_op"
"'" = "no_op"
"/" = "no_op"
k = "no_op"
R = "no_op"

[keys.normal."space".l]
z = [":new", ":insert-output wezterm cli spawn --cwd %{current_working_directory} lazygit", ":buffer-close!"]
p = "last_picker"
k = [
  ":new",
  ":insert-output taskkill /f /im python.exe",
  ":buffer-close!",
  ":lsp-restart",
]

[keys.select."space"]
c = "changed_file_picker"
r = ":config-reload"
o = ":config-open"
f = "file_explorer_in_current_directory"
e = "file_picker_in_current_directory"
b = "file_explorer_in_current_buffer_directory"
B = "buffer_picker"
g = "global_search"
t = ":toggle-option soft-wrap.enable"
S = [
  "split_selection_on_newline",
  "extend_to_line_bounds",
  ":sort",
  "keep_primary_selection",
]
F = ":fmt"
w = "no_op"
A-c = "no_op"
E = "no_op"
C = "no_op"
y = "no_op"
Y = "no_op"
p = "no_op"
P = "no_op"
"'" = "no_op"
"/" = "no_op"
k = "no_op"
R = "no_op"

[keys.select."space".l]
z = [":new", ":insert-output wezterm cli spawn --cwd %{current_working_directory} lazygit", ":buffer-close!"]
p = "last_picker"
k = [
  ":new",
  ":insert-output taskkill /f /im python.exe",
  ":buffer-close!",
  ":lsp-restart",
]

[keys.normal.z]
i = "align_view_bottom"
j = "search_prev"
k = "align_view_top"
l = "search_next"
"/" = "search_selection"
"Z" = "@<esc>Z"
n = "no_op"
N = "no_op"
C-d = "no_op"
"C-u" = "no_op"
c = "no_op"
b = "no_op"
t = "no_op"
"C-b" = "no_op"
"up" = "no_op"
"down" = "no_op"
"pageup" = "no_op"
"pagedown" = "no_op"
"backspace" = "no_op"
"space" = "no_op"
"C-z" = "no_op"
"C-f" = "no_op"
"?" = "no_op"

[keys.select.z]
i = "align_view_bottom"
j = "extend_search_prev"
k = "align_view_top"
l = "extend_search_next"
Z = "@<esc>Z"
"/" = "search_selection"
c = "no_op"
t = "no_op"
b = "no_op"
m = "no_op"
n = "no_op"
N = "no_op"
"up" = "no_op"
"down" = "no_op"
"pageup" = "no_op"
"pagedown" = "no_op"
"backspace" = "no_op"
"space" = "no_op"
"?" = "no_op"
C-b = "no_op"
C-f = "no_op"
C-u = "no_op"
C-d = "no_op"

[keys.normal.Z]
i = "scroll_up"
j = ["search_prev", "align_view_center"]
k = "scroll_down"
l = ["search_next", "align_view_center"]
I = ["scroll_up", "move_visual_line_up"]
K = ["scroll_down", "move_visual_line_down"]
x = "extend_line_below"
X = "extend_line_above"
z = "@<esc>"
Z = "@<esc>"
c = "no_op"
t = "no_op"
b = "no_op"
m = "no_op"
n = "no_op"
N = "no_op"
"up" = "no_op"
"down" = "no_op"
"pageup" = "no_op"
"pagedown" = "no_op"
"backspace" = "no_op"
"space" = "no_op"
"/" = "no_op"
"?" = "no_op"
C-b = "no_op"
C-f = "no_op"
C-u = "no_op"
C-d = "no_op"

[keys.select.Z]
i = "scroll_up"
j = ["extend_search_prev", "align_view_center"]
k = "scroll_down"
l = ["extend_search_next", "align_view_center"]
I = ["scroll_up", "move_visual_line_up"]
K = ["scroll_down", "move_visual_line_down"]
x = "extend_line_below"
X = "extend_line_above"
z = "@<esc>"
Z = "@<esc>"
c = "no_op"
t = "no_op"
b = "no_op"
m = "no_op"
n = "no_op"
N = "no_op"
"up" = "no_op"
"down" = "no_op"
"pageup" = "no_op"
"pagedown" = "no_op"
"backspace" = "no_op"
"space" = "no_op"
"/" = "no_op"
"?" = "no_op"

[keys.select]
i = "extend_visual_line_up"
j = "extend_char_left"
k = "extend_visual_line_down"
l = "extend_char_right"
I = "extend_line_up"
J = "extend_char_left"
K = "extend_line_down"
L = "extend_char_right"
ins = "insert_mode"
u = "extend_prev_word_end"
o = "extend_next_word_start"
U = "extend_prev_word_start"
O = "extend_next_word_end"
C-c = ":clipboard-yank"
C-x = [":clipboard-yank", "delete_selection"]
C-a = "select_all"
A-i = "insert_mode"
"{" = ":buffer-previous"
"}" = ":buffer-next"
"%" = "no_op"
C-s = "no_op"
W = "no_op"
a = "no_op"
A = "no_op"
e = "no_op"
E = "no_op"
"?" = "no_op"
h = "no_op"
H = "no_op"
b = "no_op"
B = "no_op"
C-d = "no_op"
C-u = "no_op"
"&" = "no_op"
w = "@<C-w>"

# insert mode
[keys.insert]
C-s = ["normal_mode", ":w"]
C-S-s = ":wa"
A-i = "move_visual_line_up"
A-j = "move_char_left"
A-k = "move_visual_line_down"
A-l = ["inline_completion_accept", "move_char_right"]
C-z = "undo"
C-y = "redo"
C-f = "search"
C-o = "file_picker_in_current_directory"
esc = ["collapse_selection", "keep_primary_selection", "normal_mode"]
A-J = "save_selection"
j = { k = "@<esc>" }
C-a = "select_all"
C-v = ":clipboard-paste-before"
C-c = ["inline_completion_dismiss"]
C-r = "no_op"
C-p = "insert_register"
C-u = "no_op"
C-k = "no_op"
# python f strings autocomplete in the wonkiest way possible
[keys.insert.f]
'"' = "@f<esc>\"\"<esc>jd<A-i>"
j = { k = "@f<esc><esc>" }


# editor config
[editor]
scrolloff = 2
scroll-lines = 1
cursorline = true
line-number = "relative"
continue-comments = false
color-modes = true
popup-border = "all"
bufferline = "always"
auto-format = false
preview-completion-insert = true
completion-trigger-len = 1
default-line-ending = "lf"
trim-trailing-whitespace = true
end-of-line-diagnostics = "hint"
completion-replace = false
rainbow-brackets = true
atomic-save = false
kitty-keyboard-protocol = "enabled"
rounded-corners = true
word-completion.trigger-length = 1
gutters.line-numbers.min-width = 4  # enough for 9999 lines
smart-tab.enable = true

[editor.file-picker]
hidden = false
parents = false
ignore = false

[editor.file-explorer]
follow-symlinks = true
flatten-dirs = false

[editor.statusline]
left = [
  "mode",
  "version-control",
  "file-type",
  "file-name",
  "file-modification-indicator",
  "spinner",
  "read-only-indicator",
]
center = []
mode.normal = "󰇀"
mode.insert = "󰗧"
mode.select = "󰒆"
right = [
  "register",
  "file-encoding",
  "diagnostics",
  "workspace-diagnostics",
  "position",
  "primary-selection-length",
  "selections",
  "total-line-numbers",
]

[editor.cursor-shape]
normal = "underline"
insert = "bar"
select = "block"

[editor.indent-guides]
render = true
character = "\u2502"
rainbow = true

[editor.lsp]
display-inlay-hints = true
display-progress-messages = true

[editor.soft-wrap]
enable = false
wrap-indicator = "󱞶 "

[icons]
fs.enabled = true
ui.virtual.wrap = " 󱞶 "
kind.enabled = true

[icons.diagnostic]
warning = "\uf071"
error = "\uebfb"
hint = "\ued83"
info = "\uf449"

[icons.vcs]
enabled = true
deleted = "⏽"
