# requires: https://github.com/astral-sh/ruff
[language-server.ruff]
command = "ruff"
args = ["server"]

[language-server.ruff.config]
disableLanguageServices = true

# requires: https://github.com/astral-sh/ruff
[language-server.ty]
command = "ty"
args = ["server"]

[language-server.ty.config]
disableLanguageServices = false

# requires: https://github.com/microsoft/pyright
[language-server.pyright]
command = "pyright-langserver"
args = ["--stdio"]

[language-server.pyright.config]
pyright.disableOrganizeImports = true
pyright.openFilesOnly = false
python.analysis.autoImportCompletions = true
python.analysis.typeCheckingMode = "off"

[language-server.pyright.config.python.analysis.diagnosticSeverityOverrides]
reportUndefinedVariable = "none"
reportMissingImports = "none"

# requires: https://github.com/Automattic/harper
[language-server.harper-ls]
command = "harper-ls"
args = ["--stdio"]

[language-server.harper-ls.config.harper-ls]
dialact = "British"  # shit is not british
isolateEnglish = true

[language-server.harper-ls.config.harper-ls.linters]
UnclosedQuotes = true
WrongQuotes = true
LongSentences = true
RepeatedWords = true
SpellCheck = true
SentenceCapitalization = false
NoOxfordComma = false
SpelledNumbers = false

[language-server.harper-ls.config.markdown]
IgnoreLinkTitle = true

# requires helix be built with `cargo xtask steel`
# on a supported branch
[language-server.steel]
command = "steel-language-server"
args = []

# requires: https://github.com/facebook/pyrefly/
# i don't use it currently
[language-server.pyrefly]
command = "pyrefly"
args = ["lsp"]

# requires: https://github.com/tombi-toml/tombi
[language-server.tombi]
command = "tombi"
args = ["lsp", "--no-cache"]

# requires: https://github.com/tamasfe/taplo
[language-server.taplo]
command = "taplo"
args = ["lsp", "stdio"]

# requires: https://github.com/zerootoad/discord-rpc-lsp
[language-server.discord-rpc]
command = "discord-rpc-lsp"

# requires: https://github.com/blopker/codebook
[language-server.codebook]
command = "codebook-lsp"
args = ["serve"]

# requires: https://github.com/leona/helix-gpt
[language-server.helix-gpt]
command = "helix-gpt"

# requires: https://github.com/github/copilot-language-server-release
[language-server.copilot]
command = "copilot-language-server"
args = ["--stdio"]

[language-server.copilot.config]
editorInfo = { name = "Helix", version = "25.01" }
editorPluginInfo = { name = "helix-copilot", version = "0.1.0" }

[language-server.powershell-lsp]
command = "pwsh"
args = [
  "-nop", "-nol",
  "-c", "~/Git/PowerShellEditorServices/PowerShellEditorServices/Start-EditorServices.ps1",
  "-HostName", "Helix",
  "-HostProfileId", "Helix",
  "-LogLevel", "Normal",
  "-Stdio",
  "-SessionDetailsPath", "$HOME/Git/PowerShellEditorServices/PowerShellEditorServices.json",
]

[[language]]
name = "python"
language-servers = [
  "copilot",
  "discord-rpc",
  "codebook",
  { name = "pyright", except-features = [
    "goto-declaration",
    "goto-type-definition",
    "goto-reference",
    "goto-implementation",
  ] },
  { name = "ty", except-features = [
    "format",
    "goto-definition",
    "signature-help",
    "hover",
    "document-highlight",
    "completion",
    "code-action",
    "workspace-command",
    "document-symbols",
    "workspace-symbols",
    "rename-symbol",
  ] },
  "ruff",
  { name = "helix-gpt", only-features = ["code-action"] }
]
auto-format = true
roots = ["pyproject.toml", "requirements.txt", "poetry.lock", "uv.lock"]
persistent-diagnostic-sources = ["ty"]

[[language]]
name = "scss"
file-types = ["scss", "tcss"]
injection-regex = "(t|s)?css"
language-servers = [
  "copilot",
  "discord-rpc",
  "vscode-css-language-server",
  { name = "helix-gpt", only-features = ["code-action"] }
]

[[language]]
name = "scheme"
language-servers = [
  "copilot",
  "discord-rpc",
  "steel",
  { name = "helix-gpt", only-features = ["code-action"] }
]

[[language]]
name = "json"
formatter = { command = "prettierd", args = [".json"] }
language-servers = [
  "copilot",
  "discord-rpc",
  "vscode-json-language-server",
  { name = "helix-gpt", only-features = ["code-action"] }
]
auto-format = true

[[language]]
name = "javascript"
formatter = { command = "pretterd", args = [".js"] }
language-servers = [
  "copilot",
  "discord-rpc",
  "typescript-language-server",
  { name = "helix-gpt", only-features = ["code-action"] }
]
auto-format = true

[[language]]
name = "jsonc"
formatter = { command = "prettierd", args = [".jsonc"] }
language-servers = [
  "copilot",
  "discord-rpc",
  "vscode-json-language-server",
  { name = "helix-gpt", only-features = ["code-action"] }
]
auto-format = true

[[language]]
name = "yaml"
formatter = { command = "prettierd", args = [".yaml"] }
language-servers = [
  "copilot",
  "discord-rpc",
  "ansible-language-server",
  "yaml-language-server",
  { name = "helix-gpt", only-features = ["code-action"] }
]

[[language]]
name = "css"
formatter = { command = "prettierd", args = [".css"] }
language-servers = [
  "copilot",
  "discord-rpc",
  "vscode-css-language-server",
  { name = "helix-gpt", only-features = ["code-action"] }
]

[[language]]
name = "markdown"
language-servers = [
  "copilot",
  "discord-rpc",
  "codebook",
  "marksman",
  "markdown-oxide",
  { name = "helix-gpt", only-features = ["code-action"] }
]
formatter = { command = "prettierd", args = [".md"] }

[[language]]
name = "typst"
language-servers = [
  "copilot",
  "discord-rpc",
  "codebook",
  "tinymist",
  { name = "helix-gpt", only-features = ["code-action"] }
]

[[language]]
name = "toml"
language-servers = [
  "copilot",
  "discord-rpc",
  "tombi",
  { name = "helix-gpt", only-features = ["code-action"] }
]

[[language]]
name = "powershell"
language-servers = [
  "copilot",
  "powershell-lsp",
  { name = "helix-gpt", only-features = ["code-action"] }
]

[[language]]
name = "astro"
scope = "source.astro"
indent = { tab-width = 2, unit = "  " }
language-servers = [
  "copilot",
  "astro-ls",
  { name = "helix-gpt", only-features = ["code-action"] }
]
