binds {
    TouchSwipe fingers=3 direction="up" natural-scroll=true { focus-workspace-up; }
    TouchSwipe fingers=3 direction="down" natural-scroll=true { focus-workspace-down; }
    TouchSwipe fingers=3 direction="left" natural-scroll=true { focus-column-left; }
    TouchSwipe fingers=3 direction="right" natural-scroll=true { focus-column-right; }
    TouchSwipe fingers=4 direction="up" natural-scroll=false { open-overview; }
    TouchSwipe fingers=4 direction="down" natural-scroll=false { close-overview; }

    TouchPadSwipe fingers=3 direction="up" natural-scroll=true { focus-workspace-up; }
    TouchPadSwipe fingers=3 direction="down" natural-scroll=true { focus-workspace-down; }
    TouchPadSwipe fingers=3 direction="left" natural-scroll=true { focus-column-left; }
    TouchPadSwipe fingers=3 direction="right" natural-scroll=true { focus-column-right; }
    TouchPadSwipe fingers=4 direction="up" natural-scroll=false { open-overview; }
    TouchPadSwipe fingers=4 direction="down" natural-scroll=false { close-overview; }
}

layout {
    prefer-focus-tiled true
}

animations {
    column-tab-switch {
        duration-ms 400
        curve "cubic-bezier" 0.25 0.25 0 1.05
    }
}

window-rule {
    force-render 20
}

include "base.kdl"
